body {
    background-color: rgb(255, 218, 230);
    text-align: center;
}

.body {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.link {
    color:rgb(155, 160, 140);
}

.logoheader {
    position: relative;
    float: left;
    margin: 50px;
    text-align: left;
    text-decoration: none;
    color: black;
}

.list {
    list-style: none;
    float: left;
    text-align: left;
}

ul {
    list-style-type: none;
   }